@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;

}
/* 버튼 영역 */
.warp {
    width: 1920px;
    height: 100vh;
    background-color: #647EBF;
    display: flex;
}
h1 { font-family: 'Noto Sans KR', sans-serif;}


.logo {
    width: 100px;
    height: 100px;
    background-color: #647EBF;
    position: fixed;
    left: 40px;
    top: 70px;
} 
 .btns {
    width: 50px;
    height: 500px;
    background-color: #647EBF;
    margin-left: 57px;
    margin-top: 300px;
    line-height: 100px;
   
}


/* 백그라운드 */
.content {
    z-index: 10;
    width: 1750px;
    height: 100vh; 
    background-color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.I {
    display: block;
    position: fixed;
    left: 1550px;
    
}
.triangle {
    display: block;
    position: fixed;
    left: 400px;
    top: 0;
    
  
}
.Ellipse {
    display: block;
    position: fixed;
    top: 0;
    left: 1500px;
}


.click:hover svg path{
    fill: #2A3C6A;
}

.click svg path{
    transition : 0.3s;
}

body { -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none }