@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;

}
/* 버튼 영역 */
.warp {
    width: 1920px;
    height: 100vh;
    background-color: #6571AB;
    display: flex;
}
h1 { font-family: 'Noto Sans KR', sans-serif;}


.logo {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 40px;
    top: 70px;
} 
 .btns {
    width: 50px;
    height: 500px;
    margin-left: 57px;
    margin-top: 300px;
    line-height: 100px;
   
}


/* 백그라운드 */
.content {
    margin-top: 2em;
    z-index: 10;
    width: calc(100% - 180px);
    height: calc(100% - 2em);
    background-color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom-left-radius: 50px; */
    border-top-left-radius: 50px;
    overflow: hidden;
    position: relative;
}
.I {
    display: block;
    position: absolute;
    left: 1400px;
    
}
.triangle {
    display: block;
    position: absolute;
    left: 300px;
    top: 0;
    
  
}
.Ellipse {
    display: block;
    position: absolute;
    top: 0;
    left: 1500px;
}

.click svg path{
    transition : 0.3s;
}

.click.select path{
    fill: #FFD468;
}

.click:hover svg path{
    opacity: 0.3;
    
}

.boxs {
    width: 80%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    border-radius: 10px;
    
}

 .group {
    margin-left: 20px;
    width: calc(90% / 3);
    padding: 1.5em 0;
    height: 500px;
    background-color: #F2F6FC;
    margin-top: 60px;
    border-radius: 10px;
    margin-right: 20px;
}
.group > a > h1 {
    color: #374957;
    text-align: center;
}
.group > a> svg path {
    fill: #374957;
}
 .group:hover {
    background-color: #687BD3;
    transform: translateY(-5px);
    transition: 0.4s;
}
.group:hover > a> h1 {
    color: #fff;
    transition: 0.4s;
}

.group:hover > a > svg path {
    fill: #fff;
    transition: 0.4s;
}

.group >  a > svg {
    margin-top: 50px;
    margin-left: 62px;
}

.group > a {
    width: 100%;
    height: 620px;
}






body { -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none }