@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;

}
/* 버튼 영역 */
.warp {
    width: 1920px;
    height: 100vh;
    background-color: #647EBF;
    display: flex;
}
h1 { font-family: 'Noto Sans KR', sans-serif;}


.logo {
    width: 100px;
    height: 100px;
    background-color: #647EBF;
    position: fixed;
    left: 40px;
    top: 70px;
} 
 .btns {
    width: 50px;
    height: 500px;
    background-color: #647EBF;
    margin-left: 57px;
    margin-top: 300px;
    line-height: 100px;
   
}



/* 백그라운드 */
.content {
    z-index: 10;
    width: 1750px;
    height: 100vh; 
    background-color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.I {
    display: block;
    position: fixed;
    left: 1550px;
    
}
.triangle {
    display: block;
    position: fixed;
    left: 400px;
    top: 0;
    
  
}
.Ellipse {
    display: block;
    position: fixed;
    top: 0;
    left: 1500px;
}

.click svg path{
    transition : 0.3s;
}

.click:hover svg path{
    fill: #2A3C6A;
}

.box {
    width: 1200px;
    height: 620px;
    z-index: 1;
    background-color: #F2F6FC;
    border-radius: 15px;
}

.box_name > svg {
    margin-top: 20px;
    margin-left: 20px;
    top: 20px;
    left: 20px;
    display: block;
}

.box_name > h1 {
    margin-left: 20px;
    color: #374957;
}

.box_sub_name {
    height: 70px;
    
}
.box_sub_name > h2 {
    color: #374957;
    padding-left: 20px;
}
.calendar {
    padding-left: 20px;
    width: 1180px;
    height: 225px;
    display: flex;
    justify-content: space-between;

}
.boxs {
    width: 225px;
    height: 225px;
    background-color: #d5dae0;
    border-radius: 15px;
}

.boxs > h1 {
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;

}

.boxs > h2 {
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;

}

